body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    background-color:rgb(223, 164, 164);
    height: 300px;
    width: 500px;
}
.container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    justify-content: center;
}
.top{
    display: flex;
    justify-content: space-evenly;
}
.btm{
    display: flex;
    justify-content: space-evenly;
}
.one{
    height:40px;
    width:80px;
    background-color: brown;
}
.two{
    height:40px;
    width: 80px;
    background-color: blue;
}
@media (max-width: 425px) {
    .main{
        height:1000px;
        width: 300px;
    }
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .top,.btm{
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
    }
}