.container{
  height: 100vh;
  width: 100vw;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.one,.two,.three{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}
.bar{
  display: flex;
  width: 85%;
  justify-content: center;
}
.line{
  display: flex;
  width: 100%;
  align-items: center;
}
.l1{
  height: 0px;
  width: 100%;
  border: 2px solid gray;
}
.b1,.b2,.b3,.b4{
  height: 40px;
  width: 40px;
  background-color: rgb(216, 212, 212);
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btns{
  display: flex;
  column-gap: 10rem;
}
button{
  background-color: rgb(216, 212, 212);
  color: black;
  border: 1px solid black;
}