body{
  background-color: white;
  color: black;
  margin:0px;
}
.container{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Bus{
  border: 1px solid gray;
  height: fit-content;
  width: fit-content;
  padding: 20px;
}
